.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 87.5rem;
  margin-bottom: 5rem;
  perspective: 125rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  aspect-ratio: 1;
  background-color: var(--bg-transparent);
  padding: 0.8rem;
  border-radius: 1rem;
  font-size: var(--fs-500);
  box-shadow: var(--shadow-primary);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 150ms ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border-radius: 1rem;
    z-index: -1;
    transform: rotateY(0.5turn);
    backface-visibility: hidden;
  }

  img {
    object-fit: cover;
    border-radius: 0.8rem;
    width: 100%;
    aspect-ratio: 1 / 1.2;
    object-position: top;
  }

  p {
    line-height: 1;
    padding-top: 0.8rem;
  }
}
