.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  background: var(--bg-transparent);
  width: fit-content;
  margin: 1rem;
  padding: 0.2rem 0.8rem;
  line-height: 1;
  text-decoration: none;
  color: #000;
  border-radius: 100vmax;
  font-size: var(--fs-400);
}

svg {
  width: 1.4rem;
  height: 1.4rem;
}
