:root {
  --bg-transparent: hsl(0 0 100% / 0.7);
  --fs-400: clamp(0.9rem, 0.6rem + 1.6vw, 1.2rem);
  --fs-500: clamp(1rem, 0.6rem + 2.133vw, 1.4rem);
  --shadow-primary: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
